<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INotasService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_INotasService" transactionFlow="true">
                    <security mode="None" />
                </binding>
              <binding name="WSHttpBinding_INotasServiceAdmin" transactionFlow="true">
                <security mode="Message">
                  <message clientCredentialType="UserName" negotiateServiceCredential="false"/>
                </security>
              </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4232/NotasService.svc/Escola"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotasService"
                contract="EscolaService.INotasService" name="BasicHttpBinding_INotasService" />
            <endpoint address="http://localhost:4232/NotasService.svc/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INotasService"
                contract="EscolaService.INotasService" name="WSHttpBinding_INotasService" />
          <endpoint address="http://localhost:4232/NotasServiceAdmin.svc/wsAdmin"
              binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INotasServiceAdmin"
              contract="EscolaServiceAdmin.INotasServiceAdmin" name="WSHttpBinding_INotasServiceAdmin"
                    behaviorConfiguration="admin">
            <identity>
              <certificate encodedValue=
	"MIIC1jCCAb6gAwIBAgIQPkWIAS6zypxLPiCX1j5xMzANBgkqhkiG9w0BAQsFADAU
MRIwEAYDVQQDEwlsb2NhbGhvc3QwHhcNMTcwMzA3MDQzODQ4WhcNMjIwMzA3MDAw
MDAwWjAUMRIwEAYDVQQDEwlsb2NhbGhvc3QwggEiMA0GCSqGSIb3DQEBAQUAA4IB
DwAwggEKAoIBAQCNn48d0FrTZVR2mD9dU09QiLL6sh5VSi/ql+2tJUL6+6wB85Ki
+cZLb0FqRLbE/5FLt79GUsoS5HQkkq9oh57vDFIDmbO6zthAdSeAJNwD1rzXIp2r
RjRu9Rj+Bk6FXS/0FnOm4359AZS0CljCT5ftZpu3JrcnyFeFS5M3B06EmAsGXJVf
A2sYIg/7I2/ecJh5fWMO1oR60tEEjcHhfnyeM93y6twmMvxhChoCWQZ8PJ9o43bJ
pdt+mFNRLqhXsaUKYd9+mLJCSFAxNvXcNRRPeg202cmjsZvVJRiuP1eCatHDz6OQ
4EpOusLs2nuR8X3pY35CEwMJCZG6xHKIPsXhAgMBAAGjJDAiMAsGA1UdDwQEAwIE
sDATBgNVHSUEDDAKBggrBgEFBQcDATANBgkqhkiG9w0BAQsFAAOCAQEAe9nWGPNQ
DTw5jVIFp278uEsZZ9HKhID1kw6BArafcqGGG3QXqBhCSSVVGJOCgFGoP4IES+Vs
cliXm/FLAIfQAKDWyfqFUunF0izfHfNnlGvXw/4oP/4Mt5NXZLF1vhxkxrHgZkp3
bSJWuVjBDJRSTvh0r4kANuF4nK3+IHCeeedvNcXL1BEINGqlNReM4AO1NJczc+xI
Oy0vFFUsg8SxsYO5ZqrfTTa04QsYwuaFan/oGhKAZeVFrBoO7pPjWkFi0NJt33VM
XlH+5v+ojfwlqX5CVDNQ2jGUMLA4T4vOBol5ehJpBEVD4TCkTdAOwwYdngTCIUV8
ZrtvUuX3cbZ2tw=="/>
            </identity>
          </endpoint>
        </client>
      <behaviors>
        <endpointBehaviors>
          <behavior name="admin">
            <clientCredentials>
              <serviceCertificate>
                <authentication certificateValidationMode="ChainTrust" />
              </serviceCertificate>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>